{% extends 'inventory/base.html' %}

{% block content %}
    <div class="container text-center">
        {% if edit %}
            <p class="fs-3 text-body">Edit item</p>
        {% else %}
            <p class="fs-3 text-body">Create new item</p>
        {% endif %}
        <div class="container" style="width: 20em;">
            <form action="" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <div class="d-flex justify-content-center gap-3">
                    {% if edit %}
                        <input type="submit" value="Edit" class="btn btn-outline-warning">
                    {% else %}
                        <input type="submit" value="Create!" class="btn btn-outline-success">
                    {% endif %}
                    <a href="{% url 'inventory:category-items' category_id %}" class="btn btn-outline-dark" role="button">Go back</a>
                </div>
            </form>
        </div>

    </div>
{% endblock %}